.cart {
  min-height: 721px;
}
.cart .link {
  font-size: 18px;
  color: #56B280;
  text-decoration: underline;
  cursor: pointer;
}
.cart .cart__container {
  padding-bottom: 165px;
  padding-top: 80px;
  display: flex;
}
@media (max-width: 768px) {
  .cart .cart__container {
    padding-bottom: 100px;
    padding-top: 50px;
  }
}
.cart .cart__container .cart_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.cart .cart__container .cart_flex .titles {
  text-align: center;
}
.cart .cart__container .cart_flex .titles h2 {
  font-size: 26px;
}
.cart .cart__container .cart_flex .table {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .cart .cart__container .cart_flex .table .column_names p:nth-child(3), .cart .cart__container .cart_flex .table .column_names p:nth-child(4) {
    display: none;
  }
}
.cart .cart__container .cart_flex .table .column_names {
  display: flex;
  justify-content: space-between;
  gap: 0 30px;
}
.cart .cart__container .cart_flex .table .column_names p {
  font-size: 16px;
  font-weight: 500;
}
.cart .cart__container .cart_flex .table .column_names p:first-child {
  max-width: 600px;
  width: 100%;
}
@media (max-width: 768px) {
  .cart .cart__container .cart_flex .table .product_flex .product .left .left_titles a {
    font-size: 20px !important;
  }
  .cart .cart__container .cart_flex .table .product_flex .product .left img {
    max-width: 93px !important;
    min-height: 70px !important;
  }
  .cart .cart__container .cart_flex .table .product_flex .product .right {
    align-items: flex-end !important;
    flex-direction: column;
  }
  .cart .cart__container .cart_flex .table .product_flex .product .right p:last-child {
    display: none;
  }
}
.cart .cart__container .cart_flex .table .product_flex .product {
  justify-content: space-between;
  display: flex;
  padding-top: 42px;
  padding-bottom: 30px;
  border-top: 1px solid #E5E5E5;
}
.cart .cart__container .cart_flex .table .product_flex .product p {
  font-weight: 500;
}
.cart .cart__container .cart_flex .table .product_flex .product .left {
  display: flex;
  gap: 0 30px;
  max-width: 600px;
  width: 100%;
}
.cart .cart__container .cart_flex .table .product_flex .product .left .left_titles a {
  font-size: 26px;
  color: #000;
  font-weight: 400;
}
.cart .cart__container .cart_flex .table .product_flex .product .left .left_titles a:hover {
  color: #5b5b5b;
}
.cart .cart__container .cart_flex .table .product_flex .product .left img {
  max-width: 160px;
  min-height: 120px;
}
.cart .cart__container .cart_flex .table .product_flex .product .right {
  display: flex;
  width: 100%;
  max-width: 385px;
  justify-content: space-between;
  align-items: center;
}
.cart .cart__container .cart_flex .table .product_flex .product .right p {
  margin-bottom: 0;
}
.cart .cart__container .cart_flex .subTotal_container {
  border-top: 1px solid #E5E5E5;
  padding-top: 44px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .cart .cart__container .cart_flex .subTotal_container {
    justify-content: center;
  }
  .cart .cart__container .cart_flex .subTotal_container .subTotal {
    flex-direction: column;
    align-items: center;
  }
  .cart .cart__container .cart_flex .subTotal_container .subTotal a {
    max-width: 350px !important;
  }
  .cart .cart__container .cart_flex .subTotal_container .subTotal .totalPrice {
    align-items: center !important;
  }
}
.cart .cart__container .cart_flex .subTotal_container .subTotal {
  display: flex;
  max-width: 602px;
  width: 100%;
  justify-content: space-between;
}
.cart .cart__container .cart_flex .subTotal_container .subTotal a {
  max-width: 183px;
  width: 100%;
  height: 40px;
  background-color: #56B280;
  border-radius: 3px;
  color: #fff;
  transition: 0.3s linear;
  cursor: pointer;
  font-size: 21px;
}
.cart .cart__container .cart_flex .subTotal_container .subTotal .totalPrice {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart .cart__container .cart_flex .subTotal_container .subTotal .totalPrice > p {
  font-size: 16px;
  font-weight: 400;
  color: #9E9E9E;
}
.cart .cart__container .cart_flex .subTotal_container .subTotal .totalPrice span {
  max-width: 183px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cart .cart__container .cart_flex .subTotal_container .subTotal .totalPrice span p {
  font-size: 20px;
  font-weight: 500;
}

/*# sourceMappingURL=Cart.module.css.map */
