.header_user {
  padding: 5px;
  max-width: 85px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .cart::before {
    content: attr(data-count);
    position: absolute;
    transform:translate(50%,-50%);
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    background: #56B280;
  }
  img {
    width: 25.5px;
    height: 25.5px;
  }
}

@media (max-width: 768px) {
  .header_user {
    order: 2;
  }
}