.header_user {
  padding: 5px;
  max-width: 85px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  img {
    width: 25.5px;
    height: 25.5px;
  }
}

@media (max-width: 768px) {
  .header_user {
    order: 2;
  }
}