.home_main_page {
  .home {
    min-height: calc(100vh - 75px);
    background: url("../../assets/photos/home/bg-image.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    .home__container {
      color: black;
      width: 100%;
    }
  }
  .products_page__container {
    width: 100%;
  }
}

