.footer {
  display: flex;
  align-items: flex-end;
  background-color: #272727;
  min-height: 383px;
  .footer__container {
    flex-wrap: wrap;
    border-top: 2px solid #fff;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 323px;
    .left {
      .description {
        max-width: 250px;
        font-size: 16px;
        color: #fff;
      }
    }
    .right {
      margin-top: 30px;
      width: 100%;
      max-width: 490px;
      min-height: 150px;
    }
  }
}